@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="featurette" id="documents">
        <h2 class="title">Documents</h2><br/>
        <div class="list-group col-sm-offset-1 col-sm-10" id="documents-list"></div>
    </div>
</div>