@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="featurette col-sm-offset-2 col-sm-8" id="documents">
    <h2 class="title" id="document-title"></h2>
    <hr>
    <p id="document-description"></p>
    <hr>
    <p id="document-content"></p>
</div>