@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Papyrus</h1>
                <h2>Manage your documentation</h2>
            </div>
        </div>
    </header>
